@page
@model MyRazorPage.Pages.IndexModel
@{
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
@if (HttpContext.Session.GetInt32("Role") == 2 || HttpContext.Session.GetInt32("Role") == null)
    {
<div id="content-left">
        <h3>CATEGORY</h3>

        @foreach (var obj in Model.Categories)
        {
            <ul>
                <a asp-page="Index" asp-route-id="@obj.CategoryId">
                    <li>@obj.CategoryName</li></a>
            </ul>
        }

    
</div>
    }
    @if (HttpContext.Session.GetInt32("Role") == 1)
{
    <div id="content-left">
        <ul>
            <a href="Dashboard">
                <li>Dashboard</li>
            </a>
            <a href="Order">
                <li>Orders</li>
            </a>
            <a href="Product/Display">
                <li>Products</li></a>
            <a href="#">
                <li>Customers</li></a>
        </ul>
    </div>
}
<div id="content-right">
    <div class="path">Product</b></div>
    <form method="post" id="form_submit">
        <label for="Price">Price:</label>
        <select id="Price" name="Price" onchange="this.form.submit()" required>
            <option hidden>Select an option</option>
            <option value="ASC">Price ASC</option>
            <option value="DESC">Price DESC</option>
        </select>
    </form>

    <form method="post" asp-page-handler="Search">
        <input asp-for="Search" />
        <input type="submit" value="Search" />
    </form>
        <paging total-records="@Model.totalProducts" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging> 
        <section class="section-margin calc-60px">
            <div class="container">
                <div class="row">
                    @foreach (var obj in Model.LProducts)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <a asp-page="Product/Detail" asp-route-id="@obj.ProductId"> <img class="card-img" src="img/@obj.Image" alt=""></a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-product__title"><a href="single-product.html">@obj.ProductName</a></h4>
                                    <p class="card-product__price">@obj.UnitPrice</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    <script>
        function submitForm() {
            let form = document.getElementById("form_submit");
            form.submit();
        }
    </script>
</div>
